includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Foundation\\Auth\\User::#'
        - '#Call to an undefined method PanicControl\\PanicControlAbstract::#'
    checkOctaneCompatibility: false
    checkModelProperties: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

